extends ../layouts/main.pug
block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th Title
            th Actions
        
        tbody
          each team in teams
            tr
              td
                a(href=`/teams/${team.id}`)= team.title
              td
                a(href=`/teams/${team.id}/edit`) edit
                = " | "
                form.destroy(action="/teams/destroy", method="POST", onsubmit='return confirm("Really?");')
                  input(type="hidden", name="id", value=team.id)
                  input(type="submit", value="delete")